* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #131313;
    background-color: rgb(208, 127, 204);
    background-image: url('image.png') ;
    background-size:cover; 
    background-position: right;
    
    background-repeat: no-repeat;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #9cb2de;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #3d0b3d;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline;
    font-size: 25px;
    color: rgba(84, 3, 44, 0.952);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    
}

.navbar a:hover {
    color: #0f1111;
    text-shadow: 0 0 5px rgb(122, 32, 111),
        0 0 25px rgb(113, 11, 112), 0 0 50px rgb(98, 184, 201),
        0 0 100px rgb(98, 184, 201), 0 0 200px rgb(98, 184, 201)
}

.HOME {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.HOME-CONTENT {
    max-width: 600px;
}

.HOME-CONTENT h1 {
    font-size: 32px;
    font-weight: 700;
    opacity: o;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.HOME-CONTENT h1:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.HOME-CONTENT h1 span {
   color: #d81965;
}

.HOME-CONTENT h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.HOME-CONTENT p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}

.HOME-SEC1 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #161616;
    border-radius: 50%;
    font-size: 20px;
    color: #080808;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--));
    margin: 30px 15px 30px 0;

}

.HOME-SEC1 a:hover {
    background: rgb(147, 97, 174);
    color: rgb(6, 6, 6);
    box-shadow: 0 0 20px;

}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: rgba(169, 100, 177, 0.456);
    border-radius: 40px;
    font-size: 16px;
    color: #131313;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px rgb(208, 0, 255),
        0 0 25px #0ef;

}

.btn-box:hover {
    box-shadow: 0 0 5px rgb(98, 184, 201),
        0 0 25px rgb(98, 184, 201), 0 0 50px rgb(98, 184, 201),
        0 0 100px rgb(98, 184, 201), 0 0 200px rgb(98, 184, 201)
}
.ABOUT{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;

}
.ABOUT-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.ABOUT-text h2{
    font-size: 60px;
}
.ABOUT-text h2 span{
    color: #0ef;
}
.ABOUT-text h4{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    line-height: 1.4;
    margin: 15px 0 30px;
}
.ABOUT-text p{
    color: rgb(11, 11, 11);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.certification{
    color: #121313;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 3rem;
}
.sub-title{
    text-align: center;
    font-size: 50px;
    padding-bottom: 70px;
}
.sub-title span{
   color: #3d0b3d;
}
.container{
    padding: 90px;
}
.certification-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap:40px;
    margin-top: 50px;

}
.certification-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
}
.certification-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.certification-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.certification-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.read{
    display: inline-block;
    padding: 12px 20px;
    background:#0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px rgb(208, 0, 255),
        0 0 25px #0ef;

}
.read:hover{
    box-shadow: 0 0 5px rgb(98, 184, 201),
        0 0 25px rgb(98, 184, 201), 0 0 50px rgb(98, 184, 201),
        0 0 100px rgb(98, 184, 201), 0 0 200px rgb(98, 184, 201)

}
.certification-list div:hover{
    transform: translateY(-10px);
}
section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;

}
.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;

}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 65%;
}
.progress-line.Javascript span{
    width: 40%;
}
.progress-line.Python span{
    width: 100%;
}
.progress-line.react span{
    width: 60%;
}
.progress-line.JAVA span{
    width: 50%;
}
.progress-line.MachineLearning span{
    width: 90%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px;
    background-color: #101010;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content:"90%";
}
.progress-line.css span::after{
    content:"65%";
}
.progress-line.Javascript span::after{
    content:"45%";
}
.progress-line.Python span::after{
    content:"100%";
}
.progress-line.react span::after{
    content:"60%";
}
.progress-line.JAVA span::after{
    content:"50%";
}
.progress-line.MachineLearning span::after{
    content:"90%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #040404 ;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;

    }
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar.progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 75;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: rgb(51, 133, 139);
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center ;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;

}
.contact-text h1 span{
    color: rgb(58, 11, 89);
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(92, 13, 120);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list{
    margin-bottom: 10px;
    display: block;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;

}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;

}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: rgb(117, 157, 157);
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #081b29;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(122, 144, 146);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: rgb(25, 43, 44);
    box-shadow: 0 0 20px #3d0b3d;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0 ;
    background: rgb(220, 187, 108);
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;
}
.top i{
    color: #0ef;
    background: #081b29;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;

}














@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}